dwm.normbordercolor: #114488
dwm.normbgcolor: #114488
dwm.normfgcolor: #fff
dwm.selbordercolor: #fff
dwm.selbgcolor: #114488
dwm.selfgcolor: #fff

st.font: Lucida Console:size=16
!*.foreground:   #000
!*.background:   #fff
!*.cursorColor:  #eee
!*.color0:       #eee
!*.color8:       #eee
!*.color1:       #eee
!*.color9:       #eee
!*.color2:       #eee
!*.color10:      #eee
!*.color3:       #eee
!*.color11:      #eee
!*.color4:       #eee
!*.color12:      #eee
!*.color5:       #eee
!*.color13:      #eee
!*.color6:       #eee
!*.color14:      #eee
!*.color7:       #eee
!*.color15:      #eee

! special
*.foreground:   #071d22
*.background:   #ffffff
*.cursorColor:  #071d22

! black
*.color0:       #071d22
*.color8:       #617278

! red
*.color1:       #f8a1aa
*.color9:       #e9b3bf

! green
*.color2:       #8cc495
*.color10:      #a2db89

! yellow
*.color3:       #e98181
*.color11:      #86e4b6

! blue
*.color4:       #8ab6c2
*.color12:      #b5dbe4

! magenta
*.color5:       #94a9d9
*.color13:      #94abdf

! cyan
*.color6:       #7eb5ac
*.color14:      #d0a3c5

! white
*.color7:       #00f195
*.color15:      #071d22
